WIP
line
chromatic-grain-example
p5.paintBrush
.DS_Store
Animations/dragon_cross/sketch1.js
Animations/dragon_heart/sketch4.js
Animations/kolam-eight-curve
Example Use-WIP/Example-sketches/circular-butterfly copy
COMBINE-RULESETS
Updated_Lsystem/sketch2.js
Pixelator/README.md
Streamlined_Lsystem - WIP/README.md
Streamlined_Lsystem - WIP/sketch3.js

Streamlined_Lsystem - WIP copy
Streamlined_Lsystem copy/images/fly
