html,
body {
  margin: 1vw;
  background-color: #656464;
  color: #fff;
  /* font-size: 25em; */
}
header {
  background-repeat: repeat-x;
  background-size: cover;
  background-image: url("./assets/bk1.jpg");
  /* background-color: #def0ed; */
  background-repeat: repeat-x;
  background-size: cover;
  height: 20vh;
  margin-bottom: 1%;
  color: #000;
  /* font-size: 100%; */
}

/* header #index {
  height: 50vh;
  margin-bottom: 10vh;
  background-image: url("../assets/basic_patterns/bk.jpg");
} */

p {
  font-size: 150%;
}

li {
  float: left;
}

a {
  /* display: block; */
  padding: 8px;
  color: #ffa91f;
}

/* p {
  margin-left: auto;
  margin-right: auto;
  padding: 1vw;
  font-size: x-large;
} */

div {
  margin: auto;
  width: 100%;
  padding: 1%;
}

#img {
  width: 80%;
  margin: auto;
  padding: 1%;
}

li {
  font-size: xx-large;
}

#links {
  font-size: 25em;
  margin: 10em;
  /* background-color: #f1f1f1; */
}

/* header img {
  opacity: 0.25;
} */

h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  font-size: 300%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #0d1a44;
  color: #ffa91f;
}

#instructions {
  margin: auto;
  font-size: 400%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: 200%;
  text-align: left;
  /* text-transform: uppercase; */
  /* text-shadow: 2px 2px #0d1a44; */
  color: #fff;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #0d1a44;
  color: #ffa91f;
}

canvas {
  display: block;
}

#code {
  padding: 1vw;
  background-color: white;
  color: black;
  width: 60%;
  /* max-width: 500px; */
}

img {
  width: 60%;
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center; /* Centers the nav horizontally */
}

.nav-list {
  display: flex;
  justify-content: space-between; /* Evenly space the links */
  list-style: none;
  width: 100%; /* Make the ul take full width */
  max-width: 1500px; /* Optional: max width for larger screens */
}

.nav-list li {
  margin: 0 15px; /* Optional: add space around each link */
}

.nav-list a {
  text-decoration: none;
  background-color: #ffa91f;
  color: black;
  padding: 5px;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-list a:hover {
  background-color: #aba7a7;
}

.active {
  background-color: #545352;
}

#demo {
  margin-left: 2%;
  margin-right: 2%;
}

/* .flex-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  /* background-color: #ffa91f; */
/* } */

/* .flex-container > div { */
/* background-color: #fff; */
/* margin: 10px;
  padding: 10px 15px;
  font-size: 30px;
} */

/* .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
